.form-container {
    width: 360px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 3px double darkgreen;
    padding: 20px;
}

.textfield-container {
    width: 360px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
    margin: 10px 0;
}


.textfield-input {
    background-color: rgba(203, 236, 202, 0.25);
    color: #323232;
    line-height: 30px;
    font-size: 18px;
    padding: 5px;    
    border: 3px ridge olivedrab;
    border-radius: 3px; 
    margin: 0 8px;
}

.textfield-input:hover {
    background-color: rgba(203, 236, 202, 0.75);
    color: #323232;  
    border: 3px ridge limegreen;
    border-radius: 3px; 
}

.submit-button {
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    color: rgb(226, 248, 209);
    font-weight: 500;
    text-shadow: 1px 1px green;
    background-color: limegreen;
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;
    letter-spacing: 1px;
}